<!doctype html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

        <title>HDMI Hub Controller</title>
    </head>
    <body>
        <a style="text-align:center" href="{{ url_for('.start') }}">Home</a>
        <div class="page">
            <h1 class="header-title">HDMI Hub Controller</h1>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
