{% extends "base/base.html" %}
{% block body %}
    <ul>
        <p>
            {% for o in outlets %}
                <input class="hdmi-buttons" id="outlet-power-on-{{ o.name }}"  value="{{ o['name'] }}" type="button" name="Outlet {{ o.name }}" />
                <input class="hdmi-buttons" id="outlet-power-off-{{ o.name }}"  value="{{ o['name'] }}" type="button" name="Outlet {{ o.name }}" />
            {% endfor %}
        </p>
    </ul>


    <script type="text/javascript">


    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mcp-outlet-api.js') }}"></script>


{% endblock %}
